@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Press Start 2P', cursive;
    overflow-x:hidden;
    color:#ffebc2;
    background: #522e14;
}

.video-background{
    position:fixed;
    inset:0;
    z-index:-2;
}

#bg-video{
    width:100%;
    height:100%;
    object-fit:cover;
}

.overlay{
    position:absolute;
    inset:0;
    background:rgba(0,0,0,.5);
}

.loja-container{
    width:90%;
    margin:auto;
    padding:40px;
    text-align:center;
}

h1{
    margin-bottom:30px;
}

h2{
    margin:40px 0 20px;
}

.ouro-display{
    background:#5e2f1d;
    border:3px solid #a07040;
    display:inline-block;
    padding:15px 25px;
    margin-bottom:20px;
}

.cards{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
}

.card{
    width:250px;
    background:rgba(94,47,29,.9);
    border:3px solid #a07040;
    padding:15px;
    box-shadow:5px 5px 0 #1a0a04;
}

.card img{
    width:120px;
    height:120px;
    object-fit:contain;
    image-rendering:pixelated;
}

.card h3{
    margin:15px 0;
    font-size:.8rem;
}

.card p{
    margin-bottom:15px;
    font-size:.7rem;
}

.card button{
    width:100%;
    padding:10px;
    font-family:'Press Start 2P', cursive;
    background:#d4a55a;
    border:none;
    cursor:pointer;
}

.card button:hover{
    transform:translateY(-2px);
}

.voltar{
    display:inline-block;
    margin-top:40px;
    padding:15px 25px;
    text-decoration:none;
    background:#5e2f1d;
    border:3px solid #a07040;
    color:#ffebc2;
}